/*font*/
$default-font-family: "SimHei", "Helvetica Neue", Arial, "Droid Sans", sans-serif;
$font-size-df: 16px;
$font-size-sm: 12px;
$font-size-lg: 18px;
$font-size-xl: 22px;

/*color*/
$default-body-bg-color:#F0EBE5;
$default-font-color:#444;
$theme-color1:#6A451F;
$theme-color2:#A37B28;
$theme-color3:#76D17F;
$dyg-orange:#FFBC41;
$dyg-blue:#3CB0DA;


/*media query width*/

$width-small: 750px;
$width-medium: 970px;
$width-large: 1170px;